{% extends "base.html" %}

{% block title %}Edit Agent{% endblock title %}

{% block content %}
<div class='container'>
</br>
  <div class="card">

    <div class="card-header">
      <h3 class='my-3'>Edit Agent</h3>
    </div>

    <div class="card-body">
      <form method='POST'>
        {% csrf_token %}
  
        {{ form.as_p }}
    </div>

    <div class="card-footer text-body-secondary">
        <input class='btn btn-secondary my-2' type='submit'>
      </form>
    </div>

  </div>
</br></br>
</div>
{% endblock content %}