{% extends "base.html" %}

{% block title %}list projects{% endblock title %}

{% block content %}

  <div class='container my-3'>
    <div class="card">
      <div class="card-header">
        <h3>Projects</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Properties count()</th>
              <th scope="col">Location</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects %}
              <tr class="table-light">
                <th scope="row">{{ project.id }}</th>
                <td class="text-truncate" style="max-width: 150px;">{{ project.project_name }}</td>
                {% if project.add_properties.all %}
                  <td>{{ project.add_properties.all|length }}</td>
                {% else %}
                  <td>0</td>
                {% endif  %}
                <td class="text-truncate" style="max-width: 100px;">{{ project.project_location }}</td>
                <td class="text-truncate" style="max-width: 150px;">{{ project.project_description }}</td>
                <td><a class='btn btn-secondary btn-sm mx-1' href="{% url "view_project" project.id %}">View</a> | <a class='btn btn-success btn-sm mx-1' href="{% url "edit_project" project.id %}">Edit</a> | <a class='btn btn-danger btn-sm mx-1' href="{% url "delete_project" project.id %}" onclick="return confirm('Are you sure u want to delete this client?')">Delete</a></td>
              </tr> 
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}