{% extends "base.html" %}

{% block title %}view client{% endblock title %}

{% block content %}
<div class='container my-5'>
    <div class="card">
      <h5 class="card-header">Client Name : {{ client.client_name }}</h5>
      <div class="card-body">
        <b>Contact :</b> {{ client.client_contact }}</br>
        <b>Email :</b> {{ client.client_mail }}</br>
        <b>DOB :</b> {{ client.client_DOB }}</br>
        <b>Address :</b> {{ client.client_address }}</br>
        <b>City :</b> {{ client.client_city }}</br>
        <b>State :</b> {{ client.client_state }}</br>
        <b>PIN :</b> {{ client.client_pin }}</br>
        <b>Occupation :</b> {{ client.occupation }}</br>
      </div>
      <div class="card-footer text-body-secondary">
        <a class='btn btn-success btn-sm mx-1' href="{% url "edit_client" client.id %}">Edit</a>
        <a class='btn btn-danger btn-sm mx-1' align='right' href="{% url "delete_client" client.id %}" onclick="return confirm('Are you sure u want to delete this client?')">Delete</a>
      </div>
    </div>
</div>
{% endblock content %}